footer {
    &.content-info{
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 50px;
    color: #767676;
    font-size: 12px;
    border-top: 1px solid #e5e5e5;
        li{
            margin-bottom: 10px;
        }
        a{
        color: #666;
            
        &:hover{
        color: #666;
        }
        }
        i{//小房子，返回首页图标
                font-size: 16px;
        }
    }
}


//to-up 返回顶部按钮
.to-up{
padding-left:0!important;
padding-right:0!important;
//移动端hack
@media (max-width:768px) {
&{
display:block!important;
text-align:center;
float:none!important;
}
}
a{
cursor:pointer;
i{
color:#999;
}
}
}


//面包屑
#crumbs {
    color: #666;
    padding:5px 0;
    margin-bottom:10px;
    //移动端hack
@media (max-width:768px) {
&{

margin-bottom: 20px;
}
}
    a {
        color: #666;
        text-decoration: initial;
        .glyphicon-home {
            font-size: 12px;
            color: #767676;
            &:hover {
                color: #545454;
            }
        }
    }
    .glyphicon-menu-right {
        font-size: 12px;
        color: #d6d6d6;
    }
}


//翻页按钮
.nav-links {
padding: 5px 0;
margin-bottom: 10px;
text-align: right;
//移动端hack
@media (max-width:768px) {
&{
text-align: center;
margin-bottom: 20px;
}
}
.nav-previous {
margin-right: 10px;
//移动端hack
@media (max-width:768px) {
&{
margin-right: 20px;
}
}
}
.nav-next {
margin-left: 10px;
//移动端hack
@media (max-width:768px) {
&{
margin-left: 20px;
}
}
}
}


